@model MovieData.Models.Klant
@{
    ViewData["Title"] = "Landing";
}
@if (Model != null)
{
    <a class="nav-link" asp-area=""
       asp-controller="Verhuur" asp-action="Index">
        Ga naar verhuringen
    </a>
}
else
{
    <a class="nav-link" asp-area=""
       asp-controller="Home" asp-action="Index">
        Foutieve gegevens, probeer opnieuw
    </a>
}